In [1]:
import pandas as pd
from pathlib import Path
import matplotlib as plot

%store -r

In [2]:
%run PrepareData.ipynb

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

(3717964, 7)

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

(4336445, 2)

                   tweet_id ticker_symbol
3239577  550442977802207232          TSLA
3239578  550443807834402816          TSLA
3239579  550443808606126081          TSLA
3239580  550443809700851716          TSLA
3239581  550443857142611968          TSLA

(1096868, 2)

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,550442977802207232,TSLA,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
1,550443807834402816,TSLA,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
2,550443808606126081,TSLA,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
3,550443809700851716,TSLA,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
4,550443857142611968,TSLA,Cprediction,1420071016,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
1096863,1212158772015034369,TSLA,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
1096864,1212159099632267268,TSLA,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0
1096865,1212159184931717120,TSLA,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0
1096866,1212159838882533376,TSLA,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
1096867,1212160015332728833,TSLA,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096868 entries, 0 to 1096867
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tweet_id       1096868 non-null  int64
 1   ticker_symbol  1096868 non-null  object
 2   writer         1073202 non-null  object
 3   post_date      1096868 non-null  int64
 4   body           1096868 non-null  object
 5   comment_num    1096868 non-null  int64
 6   retweet_num    1096868 non-null  int64
 7   like_num       1096868 non-null  int64
dtypes: int64(5), object(3)
memory usage: 75.3+ MB
Stored 'tsla_tweets_df' (DataFrame)
Stored 'tsla_stock_values_df' (DataFrame)

In [3]:
df = tsla_stock_values_df.copy()
df.head()

            close_value   volume  open_value  high_value  low_value
day_date
2015-01-01       222.41  2392947      223.09      225.68   222.2500
2015-01-02       219.31  4753239      222.87      223.25   213.2600
2015-01-03       219.31  4753239      222.87      223.25   213.2600
2015-01-04       219.31  4753239      222.87      223.25   213.2600
2015-01-05       210.09  5355485      214.55      216.50   207.1626

In [4]:
#Create daily_return column
df['daily_return']= df['close_value'].pct_change()

In [5]:
#Set up new column 'price_direction', where 0 if 'daily_return' < 0, 
#and 1 if 'daily_return' > 0. 
df['price_direction']= 0
df.loc[df['daily_return'] >= 0, 'price_direction'] =1

## Adding technical indicators to TSLA dataframe

In [6]:
import pandas_ta as ta

# Calculate MACD values using the pandas_ta library
df.ta.macd(close='close_value', fast=12, slow=26, signal=9, append=True)

# Calculate High-Low Percentage values using the pandas_ta library
df['HL_PCT'] = (df['high_value'] - df['low_value']) / df['close_value'] * 100.0

# Calculate RSI values using the pandas_ta library
df['RSI'] = df.ta.rsi(close= 'close_value', length= 14, scalar= 100)

# Calculate VPT values using the pandas_ta library
df['PVT'] = df.ta.pvt(close= 'close_value',volume= 'volume',drift= 1)

# Clean Nan
df= df.dropna()

# View result
display(df.head())
display(df.tail())

,close_value,volume,open_value,high_value,low_value,daily_return,price_direction,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT
day_date,,,,,,,,,,,,,
2015-01-01,222.41,2392947,223.09,225.68,222.2500,NaN,0,NaN,NaN,NaN,1.542197,NaN,NaN
2015-01-02,219.31,4753239,222.87,223.25,213.2600,-0.013938,0,NaN,NaN,NaN,4.555196,NaN,-6.625170e+06
2015-01-03,219.31,4753239,222.87,223.25,213.2600,0.000000,1,NaN,NaN,NaN,4.555196,NaN,-6.625170e+06
2015-01-04,219.31,4753239,222.87,223.25,213.2600,0.000000,1,NaN,NaN,NaN,4.555196,NaN,-6.625170e+06
2015-01-05,210.09,5355485,214.55,216.50,207.1626,-0.042041,0,NaN,NaN,NaN,4.444476,NaN,-2.914014e+07

,close_value,volume,open_value,high_value,low_value,daily_return,price_direction,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT
day_date,,,,,,,,,,,,,
2020-05-22,816.88,9987475,822.174,831.78,812.000,-0.012953,0,37.268723,-3.962823,41.231546,2.421408,60.098929,3.501023e+09
2020-05-26,818.87,8089736,834.500,834.60,815.705,0.002436,1,35.775647,-4.364719,40.140366,2.307448,60.395145,3.502994e+09
2020-05-27,820.23,11549530,820.860,827.71,785.000,0.001661,1,34.306648,-4.666974,38.973623,5.207076,60.610362,3.504912e+09
2020-05-28,805.81,7275774,813.510,824.75,801.690,-0.017580,0,31.614451,-5.887337,37.501788,2.861717,57.069241,3.492121e+09
2020-05-29,835.00,11812490,808.750,835.00,804.210,0.036224,1,31.473448,-4.822672,36.296120,3.687425,61.919353,3.534911e+09

In [7]:
df=df.drop(['daily_return','volume','open_value','high_value','low_value'],
           axis=1)
df.head()

,close_value,price_direction,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT
day_date,,,,,,,,
2015-01-01,222.41,0,NaN,NaN,NaN,1.542197,NaN,NaN
2015-01-02,219.31,0,NaN,NaN,NaN,4.555196,NaN,-6.625170e+06
2015-01-03,219.31,1,NaN,NaN,NaN,4.555196,NaN,-6.625170e+06
2015-01-04,219.31,1,NaN,NaN,NaN,4.555196,NaN,-6.625170e+06
2015-01-05,210.09,0,NaN,NaN,NaN,4.444476,NaN,-2.914014e+07

## Create train and test sets

In [9]:
# Separate the data into labels and features

# Separate the y variable, the labels
y= df['price_direction']

# Separate the X variable, the features
X= df.drop('price_direction', axis=1)

In [10]:
y.head()

day_date
2015-02-03    1
2015-02-04    1
2015-02-05    1
2015-02-06    0
2015-02-07    1
Name: price_direction, dtype: int64

In [11]:
X.head()

,close_value,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT
day_date,,,,,,,
2015-02-03,218.36,0.589223,2.354853,-1.765629,4.167430,68.180272,-5.404497e+07
2015-02-04,218.55,1.542530,2.646528,-1.103997,2.140929,68.350684,-5.375744e+07
2015-02-05,220.99,2.466488,2.856388,-0.389900,2.643559,70.533202,-4.982942e+07
2015-02-06,217.36,2.872706,2.610085,0.262621,3.174411,63.515795,-5.514466e+07
2015-02-07,217.36,3.158231,2.316488,0.841743,3.174411,63.515795,-5.514466e+07

In [12]:
# Check the balance of our target values
y.value_counts()

1    1241
0     655
Name: price_direction, dtype: int64

In [13]:
from pandas.tseries.offsets import DateOffset
# Select the start of the training period
training_begin = X.index.min()

# Display the training begin date
print(training_begin)

2015-02-03 00:00:00

In [14]:
# Select the ending period for the training data with an offset of 3 months
training_end = X.index.min() + DateOffset(months=3)

# Display the training end date
print(training_end)

2015-05-03 00:00:00

In [15]:
# Generate the X_train and y_train DataFrames
X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

# Review the X_train DataFrame
X_train.head()

,close_value,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT
day_date,,,,,,,
2015-02-03,218.36,0.589223,2.354853,-1.765629,4.167430,68.180272,-5.404497e+07
2015-02-04,218.55,1.542530,2.646528,-1.103997,2.140929,68.350684,-5.375744e+07
2015-02-05,220.99,2.466488,2.856388,-0.389900,2.643559,70.533202,-4.982942e+07
2015-02-06,217.36,2.872706,2.610085,0.262621,3.174411,63.515795,-5.514466e+07
2015-02-07,217.36,3.158231,2.316488,0.841743,3.174411,63.515795,-5.514466e+07

In [16]:
# Generate the X_test and y_test DataFrames
X_test = X.loc[training_end+DateOffset(hours=1):]
y_test = y.loc[training_end+DateOffset(hours=1):]

# Review the X_test DataFrame
X_test.head()

,close_value,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT
day_date,,,,,,,
2015-05-04,230.51,6.799641,0.323449,6.476192,3.305713,71.735993,-4.345468e+06
2015-05-05,232.95,6.984010,0.406254,6.577756,4.451599,73.813015,1.775683e+06
2015-05-06,230.43,6.847842,0.216069,6.631773,2.721000,68.235829,-3.723830e+06
2015-05-07,236.80,7.171269,0.431597,6.739672,7.276182,73.654701,2.237181e+07
2015-05-08,236.61,7.327785,0.470490,6.857295,1.990575,73.253282,2.199747e+07

## Using ML model to predict price movement

In [17]:
from sklearn.preprocessing import StandardScaler

# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
X_train_scaled[:5]

array([[ 1.12113331,  0.02989709,  1.59493482, -0.67397056,  1.02129362,
         1.1096895 ,  1.30469163],
       [ 1.13722465,  0.3160484 ,  1.83156128, -0.43504752, -0.63222338,
         1.12219506,  1.30926226],
       [ 1.34387129,  0.59339016,  2.00181464, -0.17717868, -0.22210432,
         1.28235739,  1.37170394],
       [ 1.03644206,  0.7153234 ,  1.80199668,  0.05845441,  0.21104313,
         0.76739053,  1.28721033],
       [ 1.03644206,  0.80102846,  1.56381057,  0.26758213,  0.21104313,
         0.76739053,  1.28721033]])

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Making predictions using the testing data
y_pred = rf_model.predict(X_test_scaled)

In [20]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, y_pred)

0.5167211701158402

In [21]:
# Generate a confusion matrix for the model
confusion_matrix(y_test, y_pred)

array([[  99,  525],
       [ 148, 1034]], dtype=int64)

In [22]:
# Print the classification report for the model
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.40      0.16      0.23       624
           1       0.66      0.87      0.75      1182

    accuracy                           0.63      1806
   macro avg       0.53      0.52      0.49      1806
weighted avg       0.57      0.63      0.57      1806

## Evaluation of ML model 
* wording here

## Adding Sentimental Score and run ML again

In [23]:
%run SentimentAnalysis.ipynb

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

(3717964, 7)

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

(4336445, 2)

                   tweet_id ticker_symbol
3239577  550442977802207232          TSLA
3239578  550443807834402816          TSLA
3239579  550443808606126081          TSLA
3239580  550443809700851716          TSLA
3239581  550443857142611968          TSLA

(1096868, 2)

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
0,550442977802207232,TSLA,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
1,550443807834402816,TSLA,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
2,550443808606126081,TSLA,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
3,550443809700851716,TSLA,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
4,550443857142611968,TSLA,Cprediction,1420071016,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num
1096863,1212158772015034369,TSLA,StockJoke,1577836146,"I'm getting wasted on NYE, and thanks to @NHTS...",0,0,0
1096864,1212159099632267268,TSLA,sweetog76,1577836224,$TSLA Very Interesting dude:,0,0,0
1096865,1212159184931717120,TSLA,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0
1096866,1212159838882533376,TSLA,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
1096867,1212160015332728833,TSLA,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096868 entries, 0 to 1096867
Data columns (total 8 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tweet_id       1096868 non-null  int64
 1   ticker_symbol  1096868 non-null  object
 2   writer         1073202 non-null  object
 3   post_date      1096868 non-null  int64
 4   body           1096868 non-null  object
 5   comment_num    1096868 non-null  int64
 6   retweet_num    1096868 non-null  int64
 7   like_num       1096868 non-null  int64
dtypes: int64(5), object(3)
memory usage: 75.3+ MB
Stored 'tsla_tweets_df' (DataFrame)
Stored 'tsla_stock_values_df' (DataFrame)

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num,total_engagement,polarityScore,sentiment
31,550589781810642945,TSLA,i_Know_First,2015-01-01 20:50:08,Stock Market Outlook: An Average Return Of 26....,0,1,2,3,-0.2732,0
43,550671812078481408,TSLA,kirillklip,2015-01-02 02:16:05,Let's put some numbers and technical details o...,0,1,2,3,0.0000,0
48,550675435030597632,TSLA,markbspiegel,2015-01-02 02:30:29,@markbspiegel Maybe Mrs. Musk decided that $16...,1,1,1,3,0.4926,1
50,550680353015627776,TSLA,markbspiegel,2015-01-02 02:50:01,"""A Study In Contrast: Dodge's 707 Horsepower H...",1,1,2,4,0.0000,0
57,550703624544718848,TSLA,laurenholmesNYC,2015-01-02 04:22:30,Best Trade: $AAPL; $GOOG $TSLA $YHOO $LNKD I r...,0,1,2,3,0.6369,1

,tweet_id,ticker_symbol,writer,post_date,body,comment_num,retweet_num,like_num,total_engagement,polarityScore,sentiment
1096856,1212152718640472064,TSLA,decampkev,2020-01-01 10:25:03,Most bulls understand that quite well. In fact...,1,0,3,4,0.5975,1
1096858,1212153830563024898,TSLA,Commuternyc,2020-01-01 10:29:28,Oh that is why Tesla is SO SO profitable! That...,2,0,1,3,0.8741,1
1096859,1212154167185289216,TSLA,Commuternyc,2020-01-01 10:30:48,Nah This will be a trip! Especially without a ...,0,0,3,3,0.7163,1
1096861,1212155937588416517,TSLA,QContrarian,2020-01-01 10:37:50,look at #tesla registrations in Netherlands f...,2,1,0,3,0.0000,0
1096867,1212160015332728833,TSLA,Commuternyc,2020-01-01 10:54:03,Patiently Waiting for the no twitter sitter tw...,0,0,5,5,-0.2960,0

            polarityScore
Date
2015-01-01      -0.273200
2015-01-02       0.108030
2015-01-03       0.113978
2015-01-04       0.119152
2015-01-05       0.178900

            polarityScore
Date
2019-12-28       0.113058
2019-12-29       0.103000
2019-12-30       0.055549
2019-12-31       0.042973
2020-01-01       0.178863

Stored 'tsla_sentiments_df' (DataFrame)

In [24]:
tsla_sentiments_df.head()

            polarityScore
Date
2015-01-01      -0.273200
2015-01-02       0.108030
2015-01-03       0.113978
2015-01-04       0.119152
2015-01-05       0.178900

In [25]:
# Shift polarityScore down 1 row to make polarityScore from the previous day
tsla_sentiments_df= tsla_sentiments_df.shift(1)
tsla_sentiments_df.head()

            polarityScore
Date
2015-01-01            NaN
2015-01-02      -0.273200
2015-01-03       0.108030
2015-01-04       0.113978
2015-01-05       0.119152

In [26]:
#Concated tsla_sentiments_df in to the main df
df2= pd.concat([df,tsla_sentiments_df], axis=1)
df2= df2.dropna()

#Separate the y variable (the labels), and X variable (the features)
y= df2['price_direction']
X= df2.drop('price_direction', axis=1)

X.head()

,close_value,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,HL_PCT,RSI,PVT,polarityScore
2015-02-03,218.36,0.589223,2.354853,-1.765629,4.167430,68.180272,-5.404497e+07,0.065685
2015-02-04,218.55,1.542530,2.646528,-1.103997,2.140929,68.350684,-5.375744e+07,0.087272
2015-02-05,220.99,2.466488,2.856388,-0.389900,2.643559,70.533202,-4.982942e+07,0.256746
2015-02-06,217.36,2.872706,2.610085,0.262621,3.174411,63.515795,-5.514466e+07,-0.036633
2015-02-07,217.36,3.158231,2.316488,0.841743,3.174411,63.515795,-5.514466e+07,0.077272

In [27]:
# Rerun ML randomforest model on the new data set

# Create train and test sets
training_begin = X.index.min()
training_end = X.index.min() + DateOffset(months=3)

X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

X_test = X.loc[training_end:]
y_test = y.loc[training_end:]

# Creating StandardScaler instance
scaler = StandardScaler()
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)
rf_model = rf_model.fit(X_train_scaled, y_train)
y_pred = rf_model.predict(X_test_scaled)

In [28]:
# Print the classification report for the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.46      0.16      0.24       578
         1.0       0.68      0.90      0.77      1126

    accuracy                           0.65      1704
   macro avg       0.57      0.53      0.51      1704
weighted avg       0.60      0.65      0.59      1704

### Analysis

* improve recall for 1.0 prediction