In [51]:
import pandas as pd
from pathlib import Path
import matplotlib as plot

In [52]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [53]:
import pandas as pd
import numpy as np

In [54]:
import matplotlib.pyplot as plt
plt.style.use('seaborn-darkgrid')

In [55]:
import warnings
warnings.filterwarnings("ignore")

In [56]:
df= pd.read_csv(Path('CompanyValues.csv'), index_col='day_date', parse_dates=True, infer_datetime_format=True)
df.head()

,ticker_symbol,close_value,volume,open_value,high_value,low_value
day_date,,,,,,
2020-05-29,AAPL,317.94,38399530,319.25,321.15,316.47
2020-05-28,AAPL,318.25,33449100,316.77,323.44,315.63
2020-05-27,AAPL,318.11,28236270,316.14,318.71,313.09
2020-05-26,AAPL,316.73,31380450,323.50,324.24,316.50
2020-05-22,AAPL,318.89,20450750,315.77,319.23,315.35

In [57]:
#Slice df for TSLA stock data
df= df[df['ticker_symbol'] == 'TSLA']
df= df.sort_index()
df= df.loc['2015-01-01':]

In [58]:
#create predictor variables 
df['Open-Close'] = df.open_value - df.close_value
df['High-Low'] = df.high_value - df.low_value
df.head()

,ticker_symbol,close_value,volume,open_value,high_value,low_value,Open-Close,High-Low
day_date,,,,,,,,
2015-01-01,TSLA,222.41,2392947,223.09,225.68,222.2500,0.68,3.4300
2015-01-02,TSLA,219.31,4753239,222.87,223.25,213.2600,3.56,9.9900
2015-01-03,TSLA,219.31,4753239,222.87,223.25,213.2600,3.56,9.9900
2015-01-04,TSLA,219.31,4753239,222.87,223.25,213.2600,3.56,9.9900
2015-01-05,TSLA,210.09,5355485,214.55,216.50,207.1626,4.46,9.3374

In [59]:
df=df.drop(['ticker_symbol','close_value','volume','open_value','high_value','low_value'],
           axis=1)
df.head()

            Open-Close  High-Low
day_date
2015-01-01        0.68    3.4300
2015-01-02        3.56    9.9900
2015-01-03        3.56    9.9900
2015-01-04        3.56    9.9900
2015-01-05        4.46    9.3374

In [60]:
#store all predictor variables in a varibale x 
x = df

In [61]:
x.head()

            Open-Close  High-Low
day_date
2015-01-01        0.68    3.4300
2015-01-02        3.56    9.9900
2015-01-03        3.56    9.9900
2015-01-04        3.56    9.9900
2015-01-05        4.46    9.3374

In [62]:
# Target variables
y = np.where(df['close_value'].shift(-1) > df['close-value'], 1, 0)
y

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/og/miniconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py", line 3800, in get_loc
    else:
  File "pandas/_libs/index.pyx", line 138, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 165, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 5745, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 5753, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'close_value'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/y6/1dwwtby57l39j1srcbg69jww0000gn/T/ipykernel_89846/3382336401.py", line 2, in <module>
    y = np.where(df['close_value'].shift(-1) > df['close-value'], 1, 0)
  File "/Users/og/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py", line 3805, in __getitem__
  File "/Users/og/miniconda3/lib/python3.9/site-packages/pandas/core/indexes/base.py", line 3802, in get_loc
    if target._is_multi and self._is_multi:
KeyError: 'close_value'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/Users/og/miniconda3/lib/python3.9/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/Users/og/miniconda3/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/og/miniconda3/lib/python3.9/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/og/miniconda3/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/og/miniconda3/lib/python3.9/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/og/miniconda3/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/og/miniconda3/lib/python3.9/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/Users/og/miniconda3/lib/python3.9/site-packages/executing/executing.py", line 167, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [ ]:
split_percentage = 0.8
split = int(split_percentage*len(df))
  
# Train data set
X_train = X[:split]
y_train = y[:split]
  
# Test data set
X_test = X[split:]
y_test = y[split:]

In [ ]:
# Support vector classifier
cls = SVC().fit(X_train, y_train)

In [ ]:
df['Predicted_Signal'] = cls.predict(X)

In [ ]:
# Calculate daily returns

df['Return'] = df.Close.pct_change()

In [ ]:
# Calculate strategy returns

df['Strategy_Return'] = df.Return *df.Predicted_Signal.shift(1)

In [ ]:
# Calculate Cumulutive returns

df['Cum_Ret'] = df['Return'].cumsum()
df

In [ ]:
# Plot Strategy Cumulative returns 
df['Cum_Strategy'] = df['Strategy_Return'].cumsum()
df

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
  
plt.plot(Df['Cum_Ret'],color='red')
plt.plot(Df['Cum_Strategy'],color='blue')